.creditCard {
  margin: 10px;
  padding: 20px;
  width: 300px;
  height: auto;
  border-radius: 10px;
  display: inline-block;
}

.img-size {
  height: 30px;
  width: auto;
}

.divImg {
  display: flex;
  flex-direction: row-reverse;
}
